.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuBtn {
  background-color: transparent;
  border: none;

  padding-top: 5px;
  padding-bottom: 5px;

  & svg {
    fill: var(--color-text);
  }
}

.toggleBtnBox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.authBtn {
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
  .menuBtn {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1440px) {
}
