.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;

  padding-top: 5px;
  padding-bottom: 5px;

  & svg {
    fill: var(--color-text);
    transition: fill 300ms ease;
  }

  &:hover svg,
  &:focus svg {
    fill: var(--color-button-hover);
  }

  &:active svg {
    fill: var(--color-text);
  }
}

.headerRightBox {
  display: none;
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
  .menuBtn {
    display: none;
  }

  .headerRightBox {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

@media only screen and (min-width: 1440px) {
}
