.pricesPlans {
  padding-top: 50px;
  padding-bottom: 50px;
}

.list {
}

.item {
  max-width: 500px;
  margin: 0 auto;
}

.image {
  width: 100%;
}

.contentBox {
  position: relative;
  top: -25px;

  padding: 30px 15px;
  background-color: var(--color-background-card);
  border-radius: 20px 20px 0 0;
  border: 1px solid var(--color-border);

  z-index: 10;
}

.contentTitle {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;

  & span {
    display: block;
  }
}

.contentList {
}

.contentItem {
}

.contentItem:last-of-type {
  margin-bottom: 10px;
}

.packageTitle {
  margin-bottom: 5px;
}

.text {
}

.contentListSecond {
  list-style: disc;
  padding-left: 35px;
}

.listSecondItem {
}

.bottomBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;

  @media only screen and (max-width: 320px) {
    justify-content: center;
  }
}

.bottomTextBox {
}

.bottomBoxTextTop {
  text-align: center;
  font-weight: 500;
  text-decoration: underline;
}

.bottomBoxTextBottom {
  text-align: center;
}

@media only screen and (min-width: 480px) {
  .pricesPlans {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .contentBox {
    padding: 30px 40px;
    /* max-width: 330px; */
  }

  .contentTitle {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .text {
    font-size: 18px;
  }

  .contentList {
    max-width: 330px;
    margin: 0 auto;
  }

  .contentItem:last-of-type {
    margin-bottom: 15px;
  }

  .bottomBox {
    justify-content: space-around;
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) {
  .pricesPlans {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
  }

  .item {
    flex-basis: calc((100% - 25px) / 2);
  }
}
