.btn {
  width: 37px;
  height: 37px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border: 3px solid var(--color-border);
  border-radius: 50%;

  transition:
    transform 300ms ease,
    border-color 300ms ease;

  &.menuBtn {
    width: 40px;
    height: 40px;
  }

  &:hover,
  &:focus {
    transform: scale(1.1);
    border-color: var(--color-button-hover);
  }

  &:active {
    transform: scale(1);
    border-color: var(--color-border);
  }
}

.enLocale {
  background-image: url("/images/flags/ua.svg");
}

.uaLocale {
  background-image: url("/images/flags/en.svg");
}
