.btn {
  width: 40px;
  height: 40px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border: 3px solid var(--color-text);
  border-radius: 50%;
}

.enLocale {
  background-image: url("/images/flags/ua.svg");
}

.uaLocale {
  background-image: url("/images/flags/en.svg");
}
