.btn {
  width: 40px;
  height: 40px;

  /* background-image: url("/images/flags/ua.svg"); */
  background-image: url("/images/flags/en.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: 50%;
}
