.themeBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: var(--color-text);
  border: none;
  border-radius: 50%;

  /* & svg {
  } */
}

.darkBtn {
  background-color: var(---color-);
}
