.themeBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 37px;
  height: 37px;

  background-color: var(--color-text);
  border: none;
  border-radius: 50%;

  &.menu {
    width: 40px;
    height: 40px;
  }
}

.themeBtn::after {
  content: "";
  position: absolute;
  top: 0;
  right: -5px;
  width: 2px;
  height: 100%;
  background-color: var(--color-text);
}

.darkBtn {
  background-color: var(---color-);
}
