.themeBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 37px;
  height: 37px;

  background-color: var(--color-button);
  border: 3px solid var(--color-border);
  border-radius: 50%;

  transition:
    transform 300ms ease,
    border-color 300ms ease;

  &.menuBtn {
    width: 40px;
    height: 40px;
  }

  &:hover,
  &:focus {
    transform: scale(1.1);
    border-color: var(--color-button-hover);
  }

  &:active {
    transform: scale(1);
    border-color: var(--color-border);
  }
}

.darkBtn {
  /* background-color: var(---color-); */
}
