.form {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 30px;
  margin-bottom: 20px;
}

.fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 600;
}

.formText {
  display: flex;
  align-items: center;
  justify-content: center;
}
