.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 60px;
  text-align: center;
}

.description {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.buttonError {
  display: block;
  margin: 0 auto;
}
