.addressBox {
  display: none;

  &.visible {
    display: block;
    margin-bottom: 40px;
  }
}

.addressList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &.wrap {
    flex-wrap: wrap;
  }
}

.addressLink {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 37px;
  height: 37px;

  border-radius: 50%;
  background-color: var(--color-text);

  transition: background-color 300ms ease;

  &.menuLink {
    width: 40px;
    height: 40px;

    & svg {
      width: 24px;
      height: 24px;
    }
  }

  & svg {
    fill: var(--color-icon);
  }

  &:hover,
  &:focus {
    background-color: var(--color-button-hover);
  }

  &:active {
    background-color: var(--color-text);
  }
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
  .addressBox {
    display: block;

    &.visible {
      display: none;
      margin-bottom: unset;
    }
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1440px) {
}
