.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &.menuList {
    flex-wrap: wrap;
  }
}

.btn {
  display: block;
  min-width: 90px;

  border: 2px solid var(--color-text);
  border-radius: 12px;

  padding: 5px 14px;
  text-align: center;
  font-size: 17px;

  transition:
    border-color 300ms ease,
    color 300ms ease,
    background-color 300ms ease;

  &.register {
    min-width: 180px;

    color: var(--color-background);
    background-color: var(--color-text);
  }

  &:hover,
  &:focus {
    border-color: var(--color-button-hover);
    color: var(--color-button-hover);

    &.register {
      background-color: var(--color-background);
    }
  }

  &:active {
    border-color: var(--color-text);
    color: var(--color-text);

    &.register {
      color: var(--color-background);
      background-color: var(--color-text);
    }
  }
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
  .list.menuList {
    flex-direction: column;
    gap: 10px;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1440px) {
}
