.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &.menu {
    flex-wrap: wrap;
  }
}

.btn {
  display: block;
  min-width: 90px;

  border: 2px solid var(--color-text);
  border-radius: 12px;

  padding: 5px 14px;
  text-align: center;
  font-size: 17px;

  &.register {
    min-width: 180px;

    color: var(--color-background);
    background-color: var(--color-text);
  }
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
  .list.menu {
    flex-direction: column;
    gap: 10px;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1440px) {
}
