.navBox {
  display: none;

  &.visible {
    display: block;
    margin-bottom: 40px;
  }
}

.navList {
  display: flex;
  align-items: center;
  gap: 20px;

  &.column {
    flex-direction: column;
  }
}

.navLink {
  font-size: 18px;
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
  .navBox {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1440px) {
}
