.navBox {
  display: none;

  &.visible {
    display: block;
    margin-bottom: 40px;
  }
}

.navList {
  display: flex;
  align-items: center;
  gap: 20px;

  &.column {
    flex-direction: column;
  }
}

.navLink {
  position: relative;
  display: block;

  padding: 15px 0;
  font-size: 17px;

  transition: color 300ms ease;

  &.menuLink {
    font-size: 20px;
    padding: 0;
  }

  &:hover,
  &:focus {
    color: var(--color-button-hover);

    &::after {
      transform: scaleX(1);
      background-color: var(--color-button-hover);
    }
  }

  &:active {
    color: var(--color-text);

    &::after {
      background-color: var(--color-text);
    }
  }
}

.navLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 13px;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--color-button);

  transform: scaleX(0);
  transform-origin: center;
  transition:
    transform 300ms ease,
    background-color 300ms ease;
}

.navLink.menuLink::after {
  bottom: -3px;
}

@media only screen and (min-width: 480px) {
  .navBox {
    display: block;

    &.visible {
      display: none;
      margin-bottom: unset;
    }
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1440px) {
}
