/* =====================================
============== Variables ===============
======================================== */

:root {
  --color-neutral-darkest: #000;
  --color-white: #fff;
  --color-off-white: #f5f5f5;
  --color-soft-olive: #686a47;
  --color-deep-olive: #616253;
  --color-dark-olive: #4b5320;
  --color-accent-burgundy: #481e28;
  --color-neutral-stone: #d5cfbf;
  --color-yellow: #ffd700;

  --color-text: var(--color-accent-burgundy);
  --color-background: var(--color-off-white);
  --color-background-card: var(--color-white);
  --color-border: var(--color-accent-burgundy);
  --color-button: var(--color-accent-burgundy);
  --color-button-hover: var(--color-dark-olive);
  --color-icon: var(--color-white);
  --color-stars: var(--color-yellow);
}

/* =====================================
================ Base ==================
======================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-rubik), sans-serif;
  /* font-family: var(--font-playfair-display), serif; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-background);

  color: var(--color-text);
  line-height: 150%;

  transition: all 250ms ease;

  &.noScroll {
    overflow: hidden;
  }
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =====================================
================ Reset =================
======================================== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

input {
  font-family: inherit;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: var(--color-neutral-darkest);
  transition: all 5000s ease-in-out 0s;
  caret-color: var(--color-neutral-darkest);
} */

/* =====================================
============== Container ===============
======================================== */

.container {
  /* max-width: 375px; */
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (min-width: 480px) {
  .container {
    /* max-width: 480px; */
    padding: 0 24px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    /* font-size: 18px; */
    /* max-width: 768px; */
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    /* max-width: 768px; */
    padding: 0 40px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    /* font-size: 20px; */
    max-width: 1440px;
    padding: 0 64px;
  }
}

/* =====================================
============= Dark Theme ===============
======================================== */

body.dark {
  --color-text: var(--color-off-white);
  --color-background: var(--color-accent-burgundy);
  --color-border: var(--color-off-white);
  --color-button: var(--color-off-white);
  --color-button-hover: var(--color-dark-olive);
  --color-icon: var(--color-accent-burgundy);
  --color-background-card: var(--color-off-white);
}
