.logoBox {
  display: flex;
  align-items: center;
  gap: 8px;

  padding-top: 10px;
  padding-bottom: 10px;
}

.logoIcon {
  fill: var(--color-text);
}

.nameBox {
  font-family: var(--font-playfair-display), serif;
  font-weight: 600;
  font-size: 18px;
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1440px) {
}
