.backdrop {
  position: fixed;
  top: 68px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.isOpen {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}
