.backdrop {
  position: fixed;
  top: 67px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.3);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.isOpen {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}

.menu {
  display: inline-block;

  position: fixed;
  top: 67px;
  right: 0;

  background-color: var(--color-background);
  border-radius: 0 0 20px 20px;

  min-width: 220px;
  max-height: calc(100vh - 67px);
  padding: 24px 20px 40px;
  overflow-y: auto;

  transition: transform 400ms ease;

  transform: translateX(100%);
}

.backdrop.isOpen .menu {
  transform: translateX(0);
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
  .backdrop {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
}
