.backdrop {
  position: fixed;
  top: 67px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.3);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.isOpen {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}

.menu {
  display: inline-block;

  position: fixed;
  top: 67px;
  right: 0;

  background-color: var(--color-background);
  border-radius: 0 0 20px 20px;

  min-width: 220px;
  padding: 24px 20px 40px;

  /* transform-origin: top;
  transform: rotateX(-90deg);
  opacity: 0;
  transition:
    transform 0.6s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.6s ease;
  perspective: 1000px; */
}

.backdrop.isOpen .menu {
  /* transform: rotateX(0deg);
  opacity: 1;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); */
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
  .backdrop {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
}
