.heroPrice {
  padding-top: 80px;
  padding-bottom: 40px;
  min-height: 350px;

  background-image: url("/images/prices/heroPrice.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heroTitle {
  font-family: var(--font-rubik);
  text-align: center;
  font-size: 34px;
  font-weight: 400;
  color: var(--color-accent-burgundy);
  line-height: 100%;

  background-color: rgba(255, 255, 255, 0.6);
  max-width: 200px;
  padding: 10px;
  border: 1px solid var(--color-accent-burgundy);
  margin: 0 auto;
}

.textTop {
  position: relative;
  right: 10px;
}

.textBottom {
  position: relative;
  left: 10px;
}

@media only screen and (min-width: 375px) {
  .heroPrice {
    min-height: 400px;
  }

  .heroTitle {
    max-width: 260px;
    margin: unset;
    font-size: 48px;
    margin-left: 40px;
  }

  .textTop {
    right: 15px;
  }

  .textBottom {
    left: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .heroPrice {
    padding-top: 70px;
    background-position: bottom;
    background-image: url("/images/prices/heroPriceTab.webp");
  }

  .heroTitle {
    margin-left: 80px;
    font-size: 42px;
    max-width: 275px;
  }

  .textTop {
    right: 20px;
  }

  .textBottom {
    left: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .heroPrice {
    min-height: 500px;
    padding-top: 150px;
  }

  .heroTitle {
    margin-left: 150px;
    font-size: 58px;
    max-width: 310px;
  }
}

@media only screen and (min-width: 1440px) {
  .heroPrice {
    min-height: 600px;
  }

  .heroTitle {
    max-width: 420px;
    text-align: center;
    margin: 0 auto;
    font-size: 72px;
  }

  .textTop {
    right: 30px;
  }

  .textBottom {
    left: 30px;
  }
}
